body{
    background-color: black;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contactCard {
  background-color: white;
  height: 200px;
  width: 300px;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
h3{
    position: relative;
}
h3::after{
   background: linear-gradient(45deg, purple, blue);
   content: '';
   position: absolute;
   height: 3px;
   width: 100%;
   bottom:0;
   left: 0;

   color: brown;
}

/* Outer button with gradient border using background-clip trick */
button {
  position: relative;
  padding: 0px 15px;
  margin: 14px;
  border: .5px solid transparent;
  box-shadow: 0 0 10px 1px blue ,
              0 0 1px 1px purple;
  border-radius: 100px;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(45deg, purple, blue) border-box;
  color: black;
  font-size: 12px;
  z-index: 1;
}
button:hover{
    background: linear-gradient(45deg, purple, blue) border-box,
              linear-gradient(45deg, purple, blue) border-box;
              color: white;
}


