.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contactCard {
  background-color: black;
  height: 200px;
  width: 300px;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h3{
    color: white;
}

/* Outer button with gradient border using background-clip trick */
button {
  position: relative;
  padding: 0px 15px;
  margin: 14px;
  border: 2px solid transparent;
  border-radius: 100px;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(45deg, purple, blue) border-box;
  color: black;
  font-size: 16px;
  z-index: 1;
}
button:hover{
    background: linear-gradient(45deg, purple, blue) border-box,
              linear-gradient(45deg, purple, blue) border-box;
              color: white;
}


